<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
      <meta name="description" content="<%= meta_description %>">
      <meta content="width=device-width, initial-scale=1" name="viewport" />

      <!-- Facebook Open Graph data -->
      <meta property="og:title" content="<%= meta_title %>" />
      <meta property="og:type" content="website" />
      <meta property="og:url" content="<%= request.original_url %>" />
      <meta property="og:image" content="<%= meta_image %>" />
      <meta property="og:description" content="<%= meta_description %>" />
      <meta property="og:site_name" content="<%= meta_title %>" />

      <!-- Twitter Card data -->
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:title" content="<%= meta_title %>">
      <meta name="twitter:description" content="<%= meta_description %>">
      <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
      <meta name="twitter:image:src" content="<%= meta_image %>">

      <!-- Cookie Consent by https://www.PrivacyPolicies.com -->
      <script type="text/javascript" src="//www.privacypolicies.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
      <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"light","language":"en","website_name":"Josef Kalleya Famous Quotes"});
      });
      </script>
      <noscript>Cookie Consent by <a href="https://www.PrivacyPolicies.com/cookie-consent/" rel="nofollow noopener">PrivacyPolicies.com</a></noscript>
      <!-- End Cookie Consent -->
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="background-color: $cultured">
    <%= yield %>
  </body>
</html>
